<?php
$_product = $this->getProduct();
$_attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes());
?>
<?php if ($_product->isSaleable() && count($_attributes)): ?>
    <dl>
        <?php foreach ($_attributes as $_attribute): ?>
            <dt><label class="required"><em>*</em><?php echo $_attribute->getLabel() ?></label></dt>
            <input name="" class="validate-custom-configurable" id="attribute-conf" type="hidden" value=""/>

            <div class="input-box">
                <?php $configs = $this->getRegularConfig() ?>
                <?php foreach ($configs['attributes'] as $config): ?>
                <?php foreach ($config['options'] as $value): ?>
                <dd<?php if ($_attribute->decoratedIsLast) { ?> class="last"<?php } ?>>
                            <span id="<?php echo $value['id'] ?>"
                                  data-attributeid="<?php echo $_attribute->getAttributeId() ?>"
                                  class="configurable-super-attribute">
                                <?php echo $value['label'] ?>
                            </span>
                    <?php endforeach; ?>
                    <?php endforeach; ?>
                </dd>
            </div>

        <?php endforeach; ?>
    </dl>
<?php endif; ?>
<script type="text/javascript">
    var spConfig = new Product.Config(<?php echo $this->getJsonConfig() ?>);
    document.observe("dom:loaded", function () {
        var customValidation = false;
        var lastSelectedItem = null;
        $$('.configurable-super-attribute').each(function (el) {
            el.observe('click', function (event) {

                el.addClassName("selected");
                if (lastSelectedItem != null && el.id != lastSelectedItem.id) {
                    lastSelectedItem.removeClassName("selected");
                }
                lastSelectedItem = el;

                //add product data to input hidden field
                hiddenInput = $('attribute-conf');
                hiddenInput.value = el.id;
                hiddenInput.name = 'super_attribute[' + el.dataset["attributeid"] + ']';
            });
        });
        Validation.addAllThese([
            ['validate-custom-configurable', 'This is a required field.', function (v) {
                $$('.configurable-super-attribute').each(function (el) {
                    if (el.hasClassName("selected")) {
                        customValidation = true;
                    }
                });
                return customValidation;
            }]
        ]);
    });
</script>